<ion-view view-title="云考点-趣味小故事">
    <div class="wrapper">
        <ion-content scroll='true' class="scroll-box" overflow-scroll='true' id='scroll-box'>
            <img src="../../../assets/网校加盟-改_04.png" alt="">
            <img src="../../../assets/sub/网校加盟-改_01.png" alt="">
        </ion-content>
        <div ng-if="shareBox" class="mask" ng-click="closeMask()">
            <div ng-if="shareBox" class="share" ng-click="closeMask($event)">
                <img src="https://c.yunkaodian.com/jzmsshare/share.png">
                <span ng-click="closeMask()"></span>
            </div>
        </div>
</ion-view>