<ion-view view-title="云考点-趣味小故事">
<div class="wrapper">
        <ion-content scroll='true' class="scroll-box" overflow-scroll='true' id='scroll-box'>
            撒大大苏打撒
        </ion-content>
<div ng-if="shareBox" class="mask" ng-click="closeMask()">
    <div ng-if="shareBox" class="share" ng-click="closeMask($event)">
        <img src="https://c.yunkaodian.com/jzmsshare/share.png">
        <span ng-click="closeMask()"></span>
        <div class="btn">
            <a href="http://q.url.cn/ABU1ff?_type=wpa&amp;qidian=true"></a>
            <a></a>
        </div>
    </div>
</div>
</ion-view>